<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net45" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net451" />
  <package id="Stardust.Continuum.Client" version="1.2.5.0" targetFramework="net45" />
  <package id="Stardust.Interstellar.Rest" version="2.9.1.0" targetFramework="net45" />
  <package id="Stardust.Interstellar.Rest.Annotations" version="1.6.0.0" targetFramework="net45" />
  <package id="Stardust.Nucleus" version="3.2.0.0" targetFramework="net45" />
  <package id="Stardust.Particles" version="3.1.1.0" targetFramework="net45" />
  <package id="WebActivatorEx" version="2.2.0" targetFramework="net45" />
</packages>