<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Stardust.Nucleus" version="3.1.1.0" targetFramework="net45" />
  <package id="Stardust.Particles" version="3.1.0.0" targetFramework="net45" />
</packages>